<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vinayak.pakingmaster">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/order"
        android:label="@string/app_name"
        android:roundIcon="@drawable/order"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".LogInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DashboardActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CustomerDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ListItemActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PakingListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CustomerListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AddNewUserActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".CustomerSlipListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SlipListActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>